<div [formGroup]="formGroup" class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>{{ label }}</mat-label>
      <input matInput [type]="type" [id]="fieldId" formControlName="{{ controlName }}">
    </mat-form-field>
    <mat-error *ngIf="showError">
        <div *ngIf="formControl.hasError('required')">
          Field is required.
        </div>
        <div *ngIf="formControl.hasError('pattern')">
          <ng-container *ngIf="fieldId === 'isbn'; else authorTitleMessage">
            Field should contain only numbers and hyphens.
            <br>
            Field should start an end with a number.
          </ng-container>
          <ng-template #authorTitleMessage>
            Field should only contain letters.
          </ng-template>
        </div>
        <div *ngIf="formControl.hasError('maxlength')">
          Field input exceeds the limit.
        </div>
    </mat-error>
</div>
  