.search-bar {
  margin-bottom: 16px;
}

.no-books-container {
  align-self: center  ;
  display: flex;
  justify-content: center;
  height: 25%;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  width: 50%;
  border-radius: 25px;
}

.no-books-message {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  background-color: #f1acac;
  border-radius: 10px; 
}

.sorting {
  margin-bottom: 16px;
}

.items-per-page-input {
  min-width: 150px;
  margin-right: 16px;
}

.sort-button {
  margin-right: 16px;
  background-color: blanchedalmond;
}

.sort-button:first-child {
  padding: 8px 13px;
}

.sort-button:nth-child(2) {
  padding: 8px 5px;
}

.book-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; 
}

th{
  background-color: blanchedalmond;
}

th, td {
  border: 1px solid #e0e0e0;
  padding: 8px;
  text-align: left;
  max-width: 0;
  word-break: break-all;
}

.titleHeader, .authorHeader {
  cursor: pointer;
}

.book-row:nth-child(odd) {
  background-color: rgb(199, 216, 231);
}

.book-row:nth-child(even) {
  background-color: rgb(199, 231, 199);
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  background-color: darkcyan;
  border-radius: 10px;
  width: fit-content;
  align-self: center;
}

.details-button, .add-book-link {
  padding: 10px 16px; 
  border-radius: 10px; 
}

.details-button {
  background-color: #85b1e0; 
}

.add-book-link {
  text-decoration: none;
  background-color: rgb(199, 231, 199);
  transition: background-color 0.3s;
  &:hover {
    background-color: darkcyan;
  }
}

@media (min-width: 500px) {
  .sorting {
    display: flex;
  }
}